.navbar {
    height: 38px;
    background-color: var(--colors-white);
    padding: 0.25rem;
    border-bottom: thin solid var(--colors-grey4-light);
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-brand {
    width: 38px;
    height: 38px;
    position: relative;
}

.navbar-brand::before {
    width: 30px;
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 30px;
    content: "";
    background-image: url('/assets/imgs/librebooks-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
}

.navbar-brand::after {
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: transparent;
    z-index: 1;
}