<header>
    <div>
        <ul>
            <li>
                <a>Customers</a>
            </li>
            <li>
                <a>Suppliers</a>
            </li>
        </ul>
    </div>
</header>