@inherits LayoutComponentBase


<FluentLayout>
    <FluentHeader></FluentHeader>
    <FluentNavMenu>

    </FluentNavMenu>
    <FluentBodyContent>
        @Body
    </FluentBodyContent>
</FluentLayout>
@*<div id="app-root">
    <AppHeader />
    <div class="app-content">
        <div class="app-sidebar">
            <AppNavSideBar />
        </div>
        <main class="app-route-outlet">
        </main>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>*@

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
