@inherits LayoutComponentBase

<div class="Dashboard">
    <Microsoft.FluentUI.AspNetCore.Components.FluentHeader>

    </Microsoft.FluentUI.AspNetCore.Components.FluentHeader>
    <div class="AppContentContainer">
        <div class="SideBar">
            <NavMenu />
        </div>
        <main class="MainRouteContent">
            @Body
        </main>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
