.RootLayout[b-a2vi9q79te] {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: inherit;

	.RootContent {
		margin-bottom: auto;
	}

	.RootFooter[b-a2vi9q79te] {
		padding: 0.5rem;
		margin-top: auto;

	}
}
