
:root
{
    --grid-breakpoint-xs: 0;
    --grid-breakpoint-sm: 576px;
    --grid-breakpoint-md: 768px;
    --grid-breakpoint-lg: 992px;
    --grid-breakpoint-xl: 1200px;
    --grid-breakpoint-xxl: 1400px;
    --grid-width-max: calc(min(1760px, 100%));
    --color-black: rgb(0,0,0);
    --color-black-a90: rgba(0,0,0,0.9);
    --color-black-a75: rgba(0,0,0,0.75);
    --color-black-a60: rgba(0,0,0,0.6);
    --color-black-a45: rgba(0,0,0,0.45);
    --color-black-a30: rgba(0,0,0,0.3);
    --color-black-a15: rgba(0,0,0,0.15);
    --color-black-a12: rgba(0,0,0,0.12);
    --color-black-a08: rgba(0,0,0,0.08);
    --color-black-a04: rgba(0,0,0,0.04);
    --color-white: #fff;
    --color-white-a90: hsla(0,0%,100%,0.9);
    --color-white-a85: hsla(0,0%,100%,0.85);
    --color-white-a75: hsla(0,0%,100%,0.75);
    --color-white-a70: hsla(0,0%,100%,0.7);
    --color-white-a60: hsla(0,0%,100%,0.6);
    --color-white-a55: hsla(0,0%,100%,0.55);
    --color-white-a40: hsla(0,0%,100%,0.4);
    --color-white-a25: hsla(0,0%,100%,0.25);
    --color-white-a18: hsla(0,0%,100%,0.18);
    --color-white-a12: hsla(0,0%,100%,0.12);
    --color-white-a06: hsla(0,0%,100%,0.06);
    --color-blue-10: #f6fbff;
    --color-blue-20: #e8f3ff;
    --color-blue-30: #d0e8ff;
    --color-blue-40: #a8d4ff;
    --color-blue-50: #70b5f9;
    --color-blue-50-a20: rgba(112,181,249,0.2);
    --color-blue-50-a30: rgba(112,181,249,0.3);
    --color-blue-60: #378fe9;
    --color-blue-70: #0a66c2;
    --color-blue-80: #004182;
    --color-blue-90: #09223b;
    --color-cool-gray-10: #f9fafb;
    --color-cool-gray-20: #eef3f8;
    --color-cool-gray-30: #dce6f1;
    --color-cool-gray-40: #c0d1e2;
    --color-cool-gray-50: #9db3c8;
    --color-cool-gray-60: #788fa5;
    --color-cool-gray-70: #56687a;
    --color-cool-gray-80: #38434f;
    --color-cool-gray-85: #293138;
    --color-cool-gray-90: #1d2226;
    --color-warm-gray-10: #fafaf9;
    --color-warm-gray-20: #f3f2ef;
    --color-warm-gray-30: #e9e5df;
    --color-warm-gray-40: #d6cec2;
    --color-warm-gray-40-a50: rgba(214,206,194,0.5);
    --color-warm-gray-50: #b9af9f;
    --color-warm-gray-60: #958b7b;
    --color-warm-gray-70: #6e6558;
    --color-warm-gray-80: #474139;
    --color-warm-gray-90: #211f1c;
    --color-warm-red-10: #fff9f7;
    --color-warm-red-20: #ffefea;
    --color-warm-red-30: #ffded5;
    --color-warm-red-40: #fdc2b1;
    --color-warm-red-50: #f5987e;
    --color-warm-red-60: #e16745;
    --color-warm-red-70: #b24020;
    --color-warm-red-80: #762812;
    --color-warm-red-90: #351a12;
    --color-teal-10: #eefdff;
    --color-teal-20: #d5f9fe;
    --color-teal-30: #aef0fa;
    --color-teal-40: #79deee;
    --color-teal-50: #44bfd3;
    --color-teal-50-a30: rgba(68,191,211,0.3);
    --color-teal-60: #2199ac;
    --color-teal-70: #13707e;
    --color-teal-80: #104952;
    --color-teal-90: #0e2428;
    --color-purple-10: #fcf9ff;
    --color-purple-20: #f7efff;
    --color-purple-30: #eedfff;
    --color-purple-40: #dec5fd;
    --color-purple-40-a15: rgba(222,197,253,0.15);
    --color-purple-50: #c79ef7;
    --color-purple-60: #a872e8;
    --color-purple-70: #8344cc;
    --color-purple-70-a15: rgba(131,68,204,0.15);
    --color-purple-80: #592099;
    --color-purple-90: #2c1349;
    --color-system-red-10: #fff9f9;
    --color-system-red-20: #ffeeef;
    --color-system-red-30: #ffddde;
    --color-system-red-40: #ffbfc1;
    --color-system-red-50: #fc9295;
    --color-system-red-60: #f55257;
    --color-system-red-70: #cc1016;
    --color-system-red-80: #8a0005;
    --color-system-red-90: #46080a;
    --color-system-green-10: #f0fdf7;
    --color-system-green-20: #dbf9eb;
    --color-system-green-30: #b6f2d6;
    --color-system-green-40: #7ce3b3;
    --color-system-green-50: #3ec786;
    --color-system-green-60: #13a05f;
    --color-system-green-70: #057642;
    --color-system-green-80: #004d2a;
    --color-system-green-90: #022716;
    --color-pink-10: #fff8ff;
    --color-pink-20: #ffedfe;
    --color-pink-30: #ffdafd;
    --color-pink-40: #fcb9f9;
    --color-pink-50: #f489ee;
    --color-pink-60: #dd51d6;
    --color-pink-70: #b11faa;
    --color-pink-80: #770c72;
    --color-pink-90: #3d0a3b;
    --color-amber-10: #fdfaf5;
    --color-amber-20: #fbf1e2;
    --color-amber-30: #fce2ba;
    --color-amber-40: #f8c77e;
    --color-amber-50: #e7a33e;
    --color-amber-60: #c37d16;
    --color-amber-70: #915907;
    --color-amber-80: #5d3b09;
    --color-amber-90: #2a1f0e;
    --color-copper-10: #fcfaf9;
    --color-copper-20: #fcf0ed;
    --color-copper-30: #fadfd8;
    --color-copper-40: #f2c5b8;
    --color-copper-50: #e0a191;
    --color-copper-60: #be7b6a;
    --color-copper-70: #8f5849;
    --color-copper-80: #5d392f;
    --color-copper-90: #2d1d19;
    --color-green-10: #f6fcf4;
    --color-green-20: #e3f9d8;
    --color-green-30: #c7f1b2;
    --color-green-40: #a5df89;
    --color-green-50: #7fc15e;
    --color-green-60: #5f9b41;
    --color-green-70: #44712e;
    --color-green-80: #2f4922;
    --color-green-90: #1b2416;
    --color-sage-10: #f8fbf6;
    --color-sage-20: #eaf6e4;
    --color-sage-30: #d7ebce;
    --color-sage-40: #bdd7b0;
    --color-sage-50: #9db88f;
    --color-sage-60: #7b9370;
    --color-sage-70: #5a6b51;
    --color-sage-80: #3a4535;
    --color-sage-90: #1e221c;
    --color-lime-10: #f9fce9;
    --color-lime-20: #eff8b9;
    --color-lime-30: #dfee89;
    --color-lime-40: #c6d957;
    --color-lime-50: #a6ba32;
    --color-lime-60: #83941f;
    --color-lime-70: #5f6c16;
    --color-lime-80: #3e4613;
    --color-lime-90: #20230f;
    --color-camo-10: #fafbf3;
    --color-camo-20: #f1f4e4;
    --color-camo-30: #e4e8cc;
    --color-camo-40: #cdd3ac;
    --color-camo-50: #aeb48a;
    --color-camo-60: #8a8f6c;
    --color-camo-70: #65684e;
    --color-camo-80: #414335;
    --color-camo-90: #21211d;
    --color-smoke-10: #f8fafb;
    --color-smoke-20: #edf3f4;
    --color-smoke-30: #dbe7e9;
    --color-smoke-40: #bfd3d6;
    --color-smoke-50: #a0b4b7;
    --color-smoke-60: #7d8f92;
    --color-smoke-70: #5b696b;
    --color-smoke-80: #3c4345;
    --color-smoke-90: #1f2122;
    --color-lavender-10: #fbf9fd;
    --color-lavender-20: #f4f1f9;
    --color-lavender-30: #eae2f3;
    --color-lavender-40: #d7cae7;
    --color-lavender-50: #bba9d1;
    --color-lavender-60: #9983b1;
    --color-lavender-70: #715e86;
    --color-lavender-80: #493d57;
    --color-lavender-90: #241f29;
    --color-mauve-10: #fcf9fc;
    --color-mauve-20: #f9eff8;
    --color-mauve-30: #f2e0f1;
    --color-mauve-40: #e5c6e3;
    --color-mauve-50: #cea2cc;
    --color-mauve-60: #ac7da9;
    --color-mauve-70: #80597e;
    --color-mauve-80: #523a51;
    --color-mauve-90: #271e27;
    --color-system-gray-10: #fafafa;
    --color-system-gray-20: #f2f2f2;
    --color-system-gray-30: #e5e5e5;
    --color-system-gray-40: #cfcfcf;
    --color-system-gray-50: #b0b0b0;
    --color-system-gray-60: #8c8c8c;
    --color-system-gray-70: #666;
    --color-system-gray-80: #424242;
    --color-system-gray-90: #212121;
    --color-system-orange-10: #fff9f6;
    --color-system-orange-20: #ffefe8;
    --color-system-orange-30: #ffdfd1;
    --color-system-orange-40: #ffc1a7;
    --color-system-orange-50: #ff9466;
    --color-system-orange-60: #eb6126;
    --color-system-orange-70: #b93a04;
    --color-system-orange-80: #792603;
    --color-system-orange-90: #351a0f;
    --color-transparent: transparent;
    --color-transparent-white: hsla(0,0%,100%,0);
    --color-transparent-black: transparent;
    --color-surface-0: #ffffff;
    --color-surface-50: #FAFAFA;
    --color-surface-100: #F5F5F5;
    --color-surface-200: #EEEEEE;
    --color-surface-300: #E0E0E0;
    --color-surface-400: #BDBDBD;
    --color-surface-500: #9E9E9E;
    --color-surface-600: #757575;
    --color-surface-700: #616161;
    --color-surface-800: #424242;
    --color-surface-900: #212121;
    --color-gray-50: #FAFAFA;
    --color-gray-100: #F5F5F5;
    --color-gray-200: #EEEEEE;
    --color-gray-300: #E0E0E0;
    --color-gray-400: #BDBDBD;
    --color-gray-500: #9E9E9E;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;
    --color-gray-bright: #eeeeee;
    --color-gray-darkCharcoal: #333333;
    --color-tui-gray-light-1: rgb(142,142,147);
    --color-tui-gray-light-2: rgb(174,174,178);
    --color-tui-gray-light-3: rgb(199,199,204);
    --color-tui-gray-light-4: rgb(209,209,214);
    --color-tui-gray-light-5: rgb(229,229,234);
    --color-tui-gray-light-6: rgb(242,242,247);
    --color-tui-gray-dark-1: rgb(142,142,147);
    --color-tui-gray-dark-2: rgb(99,99,102);
    --color-tui-gray-dark-3: rgb(72,72,74);
    --color-tui-gray-dark-4: rgb(58,58,60);
    --color-tui-gray-dark-5: rgb(44,44,46);
    --color-tui-gray-dark-6: rgb(28,28,30);
    --color-tui-red-light: rgb(255,59,48);
    --color-tui-red-dark: rgb(255,269,58);
    --color-tui-orange-light: rgb(255,149,0);
    --color-tui-orange-dark: rgb(255,159,10);
    --color-tui-yellow-light: rgb(255,204,0);
    --color-tui-yellow-dark: rgb(255,214,10);
    --color-tui-green-light: rgb(52,199,89);
    --color-tui-green-dark: rgb(48,209,88);
    --color-tui-mint-light: rgb(0,199,190);
    --color-tui-mint-dark: rgb(102,212,207);
    --color-tui-teal-light: rgb(48,176,199);
    --color-tui-teal-dark: rgb(64,200,224);
    --color-tui-cyan-light: rgb(50,173,230);
    --color-tui-cyan-dark: rgb(100,210,255);
    --color-tui-blue-light: rgb(0,122,255);
    --color-tui-blue-dark: rgb(10,132,255);
    --color-tui-indingo-light: rgb(88,86,214);
    --color-tui-indingo-dark: rgb(94,92,230);
    --color-tui-pink-light: rgb(255,45,85);
    --color-tui-pink-dark: rgb(255,55,95);
    --color-tui-purple-light: rgb(175,82,222);
    --color-tui-purple-dark: rgb(191,90,242);
    --color-tui-brown-light: rgb(162,132,94);
    --color-tui-brown-dark: rgb(172,142,104);
    --color-status-error: #dc3545;
    --color-statusBackground-error: var(--color-system-red-10);
    --color-status-success: #28a745;
    --color-statusBackground-success: var(--color-system-green-10);
    --color-status-info: #007bff;
    --color-statusBackground-info: var(--color-blue-10);
    --color-status-hint: #17a2b8;
    --color-status-warning: #ffc107;
    --color-statusBackground-warning: var(--color-system-orange-10);
    --text-color: #1d1d1f;
    --text-color-neutral: var(--color-tui-gray-light-1);
    --text-color-error: var(--color-status-error);
    --text-color-success: var(--color-status-success);
    --text-color-warning: var(--color-status-warning);
    --text-color-info: var(--color-status-info);
    --text-color-hint: var(--color-status-hint);
    --text-color-helper: var(--color-gray-500);
    --text-color-link: #004fff;
    --box-color-error: var(--text-color-error);
    --box-border-color-: var(--color-gray-50);
    --box-shadow-1: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-2: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-3: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-4: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-5: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-6: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-7: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
    --box-shadow-8: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-9: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-10: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
    --box-shadow-11: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12);
    --box-shadow-12: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
    --box-shadow-13: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    --box-shadow-14: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12);
    --box-shadow-15: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
    --box-shadow-16: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
    --box-shadow-17: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12);
    --box-shadow-18: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12);
    --font-size-h1: 2.4rem;
    --font-size-h2: 2.0rem;
    --font-size-h3: 1.6rem;
    --font-size-h4: 1.3rem;
    --font-size-h5: 1.0rem;
    --font-size-h6: 0.875rem;
    --font-weight-thin: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;
    --font-size-small: 0.8125rem;
    --font-size-extraSmall: 0.75rem;
    --font-size-regular: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-xLarge: 1.375rem;
    --theme-surface: var(--color-white-a06);
    --theme-background: var(--color-system-gray-10);
    --radius-2: 3.5px;
    --radius-3: 7px;
    --radius-4: 12px;
    --theme-box-radius-small: var(--radius-1);
    --theme-box-radius-medium: var(--radius-3);
    --theme-box-radius-large: var(--radius-4);
    --theme-box-shadow-default: var(--box-shadow-1);
    --theme-box-radius-default: var(--theme-box-radius-small);
    --effects-vars-duration-short: 250ms;
    --effects-vars-duration-long: 500ms;
    --effects-transition-all: all ease var(--effects-vars-duration-short);
    --effects-transition-all-long: all ease var(--effects-vars-duration-long);
    --theme-box-radius-default: var(--radius-2);
    --box-border-color-lightest: var(--color-tui-gray-light-3);
    --box-border-color-lighter: var(--color-tui-gray-light-2);
    --box-border-color-light: var(--color-tui-gray-light-1);
    --box-border-color-normal: var(--color-tui-gray-dark-6);
    --box-border-color-dark: var(--color-tui-gray-dark-5);
    --box-border-color-darker: var(--color-tui-gray-dark-4);
}
