/* _content/OskitBlazor/Components/Identity/Pages/Auth/Login.razor.rz.scp.css */

.LoginFormWrapper[b-qulv8ax0ke]
{
    width: 340px;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
    border: thin solid #ccc;
    border-radius: 4.5px;
}
/* _content/OskitBlazor/Components/Layout/AppNavSideBar.razor.rz.scp.css */
/* _content/OskitBlazor/Components/Layout/MainLayout.razor.rz.scp.css */
