@inject NavigationManager Navigation
@attribute [AllowAnonymous]

<h1>Not logged in.</h1>

@code {
    protected override void OnInitialized ()
    {
        Navigation.NavigateTo($"/auth/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}", forceLoad: true);
    }
}
