.password-criteria-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.password-criteria-list .fui-Caption1 {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    padding: 0;
    padding: 0;
}

.password-criteria-list .fui-Caption1 svg {
    margin-right: 0.25rem;
}

.password-requirements {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.password-requirements .fui-MessageBarBody {
    display: flex;
    flex-direction: column;
    width: 100%;
}