@inherits LayoutComponentBase

<div class="RootLayout">
	<div class="RootContent">@Body</div>
	<div class="RootFooter ui-helper-text">&copy;@DateTime.Now.Year Librebooks Accounting. Open Source Project.</div>
</div>
