@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[ContextKeys.PageTitle] | Librebooks &trade;</title>
    <base href="~/" />
    <environment include="Development">
        <link rel="stylesheet" href="/src/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" href="/src/css/layouts/root-layout.css" asp-append-version="true" />
        <link rel="stylesheet" href="/assets/libs/blueprintjs/core/lib/css/blueprint-design-tokens.css" asp-append-version="true" />
        <link rel="stylesheet" href="/assets/libs/blueprintjs/core/lib/css/blueprint-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="/assets/libs/blueprintjs/core/lib/css/blueprint-icons.css" asp-append-version="true" />
    </environment>  
	@await RenderSectionAsync("Head", required: false)
</head>
<body>
    <div id="app-root">
        <div class="app-content">
            @RenderBody()
        </div>
        <footer class="app-footer">
            &copy;@DateTime.Now.Year Librebooks Accounting. Fully Open-Source
        </footer>
    </div>
    <environment include="Development">
        <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/assets/libs/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    </environment>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
