
.AuthLayout {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	justify-content: center;
	align-items: center;

	.AuthFormCard {
		height: auto;
		min-height: 200px;
		max-width: 320px;
		width: 100%;
		background-color: var(--ui-background);

		.AuthForm_TitleBar {
			padding: 1rem;
			background-color: var(--ui-gray-light-1);
		}

		.AuthFormCard_Title {
			font-size: 1rem;
		}

		.AuthFormCard_Content {
			padding: 1rem;
			background-color: var(--intent-danger-hover);
		}
	}
}
