@import "/assets/libs/blueprintjs/core/lib/css/blueprint-design-tokens.css";
.AuthLayout {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	justify-content: center;
	align-items: center;

	.AuthFormCard {
		height: auto;
		min-height: 200px;
		max-width: 300px;
		width: 100%;
		/*background-color: var(--ui-background);*/
		/*//border: thin solid var(--ui-surface-border-color-default);*/
		/*border-radius: var(--ui-surface-border-radius);*/
		overflow: hidden;

		.AuthFormCard_TitleBar {
			padding: 0.75rem 1rem;
			/*background-color: var(--ui-surface-layer-color-default);*/
			/*border-bottom: thin solid var(--ui-surface-border-color-default);*/
			width: 100%;
		}

		.AuthFormCard_Title {
			font-size: 1rem;
			margin: 0;
			padding: 0;
		}

		.AuthFormCard_Content {
			padding: 1rem;
			background-color: var(--intent-danger-hover);
		}
	}
}
