.Auth-layout {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	.AuthCard {
		width: 100%;
		max-width: 300px;
		background-color: white;
		align-self: center;
		min-height: 100px;
		border-radius: var(--borderRadius-sm);
		overflow: hidden;
		border: thin solid var(--colors-bp-gray-5);
	}

	.AuthCard--TitleBar {
		width: 100%;
		height: auto;
		padding: 0.5rem;
		background-color: var(--colors-bp-gray-light-4);
		border-bottom: thin solid var(--colors-bp-gray-light-1);

		h1.AuthForm--Title {
			font-size: var(--fontSize-medium);
			margin: 0;
			padding: 0;
			text-align: center;
			opacity: 0.8;

		}
	}

	.AuthCard--Content {
		padding: 1rem;
	}
}
