@using LibrebooksRazor.Areas.Identity.Pages.Auth

@{
    Layout = "/Layouts/_RootLayout.cshtml";
    if (string.IsNullOrEmpty(ContextKeys.PageTitle))
        ViewData[ContextKeys.PageTitle] = "Auth";
}
<div class="Auth-layout">
    <div class="AuthCard">
        <div class="AuthCard--TitleBar">
            <h1 class="AuthForm--Title">@ViewData[AuthLayoutContextKeys.FormTitle]</h1>
            @if (ViewData[AuthLayoutContextKeys.FormDescription] != null)
            {
                <p class="AuthForm--Description">@ViewData[AuthLayoutContextKeys.FormDescription]</p>
            }
        </div>
        <div class="AuthCard--Content">
            @RenderBody()
        </div>
    </div>
</div>


@section Head{
    @await RenderSectionAsync("Head", required: false)
    <environment include="Development">
        <link rel="stylesheet" href="/src/css/layouts/auth-layout.css" asp-append-version="true" />
    </environment>
}
