@page "/auth"
@model LibrebooksRazor.Areas.Identity.Pages.Auth.UsernameEntryModel
@{
	ViewData[AuthLayoutContextKeys.FormTitle] = "Login or Sign Up";
	ViewData[ContextKeys.PageTitle] = "Login or Register";
}

<form class="authForm--entry" method="POST">
	<div class="ui-form-group @FormHelpers.GetValidationStatus(ModelState, nameof(Model.Email))">
		<label asp-for="Email" class="ui-label">Email Address</label>
		<div class="ui-input-group">
			<input asp-for="Email"
					aria-label="Email address input"
					class="ui-input" />
		</div>
		<span class="ui-form-helper-text intent-danger" asp-validation-for="Email"></span>
	</div>
	<div class="form-field">
		<button class="ui-button intent-primary fill">
			<div class="ui-button-text">Continue</div>
		</button>
	</div>
</form>

